<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Basic Mongoose App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <h1>Quote Mongoose</h1>
        <form action="/quotes" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <label for="quote">Quote:</label>
            <input type="text" name="quote">
            <input type="submit" value="Create">
        </form>
        <a href="/quotes">Skip to the quotes!</a>

    </div>
</body>

</html>