@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
  margin: 0 auto;
  width: 800px;
  font-family: "Roboto";
  text-align: center;
}

h1 {
  color: #443052;
}

.nav a {
  color: #8a5bac;
  width: 200px;
  height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 10px;
}

.nav a:hover {
  color: #c3b1cf;
}

.main {
  border: 1px solid #8a5bac;
  min-height: 500px;
  margin-top: 15px;
}
