<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Survey Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css" />
</head>

<body>
    <div class="wrapper">

        <h1>Results</h1>
        <p>
            Name:
            <%= results.name %>
        </p> 
        <p>
            Location: 
            <%= results.loc %>
        </p>
        <p>
            Language:
            <%= results.lang %>
        </p>
        <p>
            Comments:
            <%= results.cmts %>
        </p>

        <a href="/">Go Back</a>
    </div>
</body>

</html>