<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
</head>

<body>
    <div class="wrapper">
        <h1>Counter</h1>
        <h2>
            <%= count %>
        </h2>
        <div class="buttons">
            <form action="/clear" method="post">
                <input type="submit" value="Reset">
            </form>
            <form action="/addTwo" method="post">
                <input type="submit" value="Add 2">
            </form>
        </div>
    </div>
</body>

</html>