<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
        $(document).ready(function () {
            var socket = io(); // instantiate socket
            var userinfo;
            var name = prompt('What is your name? :)')

            // Send name to the server.
            socket.emit('new', {
                name: name
            });

            // Receive name and id (stored in session).
            socket.on('myUserInfo', function (data) {
                userinfo = data;
                console.log('this user: ', userinfo)
            })

            // When user first logs in, send them other users that are logged in.
            socket.on('currentUsers', function (data) {
                console.log(data.users);
                for (var i = 0; i < data.users.length; i++) {
                    $('#main').append("<div class='user-info' id='" + data.users[i].userId + "'><h3>" +
                        data.users[i].name + "</h3></div>");
                }
            })

            // When a new user is added, send users that are logged in their name and id.
            // Append to main div.
            socket.on('newUserAdded', function (data) {
                console.log('new user added');
                console.log(data.newUser.name)
                $('#main').append("")
                $('#main').append("<div class = 'user-info' id ='" + data.newUser.id + "'><h3>" + data.newUser
                    .name + "</h3></div>");
            })

            // Tell server once we disconnect (will be removed from users array).
            socket.emit('disconnect', userinfo);
            socket.on('userDisconnected', function (data) {
                console.log(data)
                $('#' + data.userId).remove();
            })
        })
    </script>
</head>

<body>
    <div class="wrapper" id="main">
    </div>
</body>

</html>