<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sushi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- main wrapper -->
    <div class="wrapper">
        <h1>Sushi</h1>
        <a href="/sushi/caliroll">
            <img src="/images/sushi1.jpg" alt="">
        </a>
        <a href="/sushi/dragon">    
            <img src="/images/sushi2.jpg" alt="">
        </a>
        <a href="/sushi/veggie">
            <img src="/images/sushi3.jpg" alt="">
        </a>
    </div>

</body>

</html>