<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Basic Mongoose App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <h1>Elephant Info</h1>
        <h2>Name: <%= elephant[0].name %></h2>
        <h2>Age: <%= elephant[0].age %></h2>
        <a href="/">Go Back</a>
    </div>
</body>

</html>