@import url('https://fonts.googleapis.com/css?family=Quicksand');
.wrapper {
    font-family: "Quicksand";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-btn {
    width: 75px;
    border: 1px solid grey;
    display: inline-block;
}

table {
    border: 1px solid grey;
    padding: 5px;
    width: 500px;
    text-align: center;
}

th,
td {
    padding: 10px;
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
    color: #ce82ba;
    text-align: center;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    color: #ce63b1;
}

input,
select,
option {
    height: 30px;
    display: block;
    width: 325px;
    margin: 10px 0px;
}

.btn {
    background: #e2c3d9;
    padding: 5px 10px;
    width: 325;
    height: 50px;
    color: #ce82ba;
    font-size: 1rem;
    margin: 5px;
    text-transform: uppercase;
    border-radius: 10px;
}
